@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
      ViewData["Title"] = "Index";
}

<!Doctype html>
<html>
    <head>

    </head>
<body style="background-color:aliceblue" ;>
  <img src="~/css/img1.png" />
    <center>
<h3>Choose Your Role</h3>

  
    <a asp-action="AdminView"><input type="button"  value="ADMIN" class="btn btn-info btn-block" /> </a><br />
 
    <a asp-action="MakeTransaction"><input type="button"  value="CUSTOMER" class="btn btn-info btn-block" /> </a>

</center>
</body>
</html>



